<!DOCTYPE html>
<head lang="en">
    <meta name="viewport" content = "width=device-width, initial scale=1.0">
    <link rel="stylesheet" type="text/css" href = "footer.css">
    <link rel="stylesheet" type="text/css" href = "media.css">
    <link rel= "stylesheet" type="text/css" href = "grid.css.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
</head>

    <body>
        
        <!-- CITIES SECTION -->
    <section class="cities">
         <div class="row">
                <div class ="cities-heading">
                    <h2>We're currently in these cities</h2>
                </div>
            </div>
       <div class = "row">
        <div class = "col span-1-of-4 box">
            <div class = "city-photo">
                <img src = "lisbon-3.jpg" alt="lisbon-office-image">
                <h3 class = "city-list"><b>Lisbon</b></h3>
                <div>
                    <div class ="city-feature">
                        <div class = "city-icon">
                            <ion-icon name="accessibility-outline"></ion-icon>
                        </div>
                        <p>1600+ happy eaters</p>
                    </div>
                    <div class ="city-feature">
                        <div class = "city-icon">
                            <ion-icon name="fast-food-outline"></ion-icon>
                        </div>
                        <p>60+ top chefs</p>
                    </div>
                    <div class="city-feature">
                    <div class = "city-icon">
                        <ion-icon name="logo-instagram"></ion-icon>
                    </div>                    
                    <p><a href="#">@omnifood_l</a></p>
                    </div>
                </div>
            </div>        
        </div>
        <div class = "col span-1-of-4 box">
            <div class = "city-photo">
                <img src = "london.jpg" alt="lisbon-office-image">
                <h3><b>London</b></h3>
                <div>
                    <div class ="city-feature">
                        <div class = "city-icon">
                            <ion-icon name="accessibility-outline"></ion-icon>
                        </div>
                        <p>1200+ happy eaters</p>
                    </div>
                    <div class ="city-feature">
                        <div class = "city-icon">
                            <ion-icon name="fast-food-outline"></ion-icon>
                        </div>
                        <p>50+ top chefs</p>
                    </div>
                    <div class="city-feature">
                    <div class = "city-icon">
                        <ion-icon name="logo-instagram"></ion-icon>
                    </div>                    
                    <p><a href="#">@omnifood_lon</a></p>
                    </div>
                </div>
                
            </div>        
        </div>
        <div class = "col span-1-of-4 box ">
            <div class = "city-photo">
                <img src = "san-francisco.jpg" alt="lisbon-office-image">
                <h3><b>San Francisco</b></h3>
                <div>
                    <div class ="city-feature">
                        <div class = "city-icon">
                            <ion-icon name="accessibility-outline"></ion-icon>
                        </div>
                        <p>3700+ happy eaters</p>
                    </div>
                    <div class ="city-feature">
                        <div class = "city-icon">
                            <ion-icon name="fast-food-outline"></ion-icon>
                        </div>
                        <p>160+ top chefs</p>
                    </div>
                    <div class="city-feature">
                    <div class = "city-icon">
                        <ion-icon name="logo-instagram"></ion-icon>
                    </div>                    
                    <p><a href="#">@omnifood_sf</a></p>
                    </div>
                </div>
            </div>        
        </div>
        <div class = "col span-1-of-4 box">
            <div class = "city-photo">
                <img src = "berlin.jpg" alt="lisbon-office-image">
                <h3><b>Berlin</b></h3>
                <div>
                    <div class ="city-feature">
                        <div class = "city-icon">
                            <ion-icon name="accessibility-outline"></ion-icon>
                        </div>
                        <p>2300+ happy eaters</p>
                    </div>
                    <div class ="city-feature">
                        <div class = "city-icon">
                            <ion-icon name="fast-food-outline"></ion-icon>
                        </div>
                        <p>110+ top chefs</p>
                    </div>
                    <div class="city-feature">
                    <div class = "city-icon">
                        <ion-icon name="logo-instagram"></ion-icon>
                    </div>                    
                    <p><a href="#">@omnifood_berlin</a></p>
                    </div>
                </div>
            </div>        
        </div>
    </div>    
    <div style="clear: both;"></div>
        </section>
    
      
        <footer class="foot">
            <div class="row end">
                <div class = "col span-1-of-4">
                    <h3>Company</h3>
                    <ul class="foot-nav">
                    <li><a href="#">About us</a></li>
                        <li><a href="#">Food Blogs</a></li>
                        <li><a href="#">Members</a></li>
                    </ul>
                </div>
                <div class = "col span-1-of-4">
                    <h3>Third Party Reviews</h3>
                    <ul class="foot-nav">
                    <li><a href="#">Trip Advisor</a></li>
                        <li><a href="#">Monkeytrip.com</a></li>
                        <li><a href="#">Google Reviews</a></li>
                        <li><a href="#">Food Panda</a></li>
                    </ul>
                </div>
                <div class = "col span-1-of-4">
                    <h3>Support Center</h3>
                    <ul class="foot-nav">
                    <li><a href="#">FAQ's</a></li>
                        <li><a href="mailto:contact@ominood.com">contact@ominood.com</a></li>
                        <li><a href="#">Members</a></li>
                    </ul>
                </div>
                <div class = "col span-1-of-4 last">
                    <h3>Socials</h3>
                    <ul class="foot-nav">
                    <li><a href="#"><ion-icon name="logo-facebook"></ion-icon></a></li>
                        <li><a href="#"><ion-icon name="logo-instagram"></ion-icon></a></li>
                        <li><a href="#"><ion-icon name="logo-youtube"></ion-icon></a></li>
                    </ul>
                </div>
                
            </div>
            <div class="row para">
                <p>Copyright &copy; 2021 Omnifoods. All rights reserved 2021</p>
                </div>
        
        </footer>
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
            
            </body>

